header{
  width: 80%;
  margin: 0 auto;
  height: 100px;
  text-align: center;
  margin-bottom:30px;

}

main{
  width: 80%;
  height:auto;
  margin: 0 auto;
  text-align: center;
}

footer{
  width: 80%;
  height: 100px;
  margin: 0 auto;
}

h1{
  color: green;
  margin: 0 auto;
}

h3{
  color: green;
  margin: 0 auto;
}
nav{
  width: 90%;
  margin:0 auto;
}
nav ul{
margin-left: -15px;
}

nav ul li{
 list-style:none;
 display:inline-block;
 margin-right:20px;
}

nav ul li a{
color:green;
text-decoration: none;
}

nav ul li a:hover{
  color:white;
}

body{
  background-color: aqua;
}

#sect1{
  margin-top: 20px;
  text-align: center;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
}



p{
  color: green;
}

#sect2{
  margin-top:20px;
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.cutecaptions{
  height:auto;
  display: inline-block;
  margin: 0 auto;
  text-align: center;
  color:green;

}

.herocaptions{
  height: auto;
  display:inline-block;
  margin:0 auto;
  text-align: center;
}

.cuteimages{
  width: 80%;
  margin: 0 auto;
}

a{
  color: green;
}
a:hover{
  color: white;
}
.titles{
  margin-top:30px;
}

#grid1{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0 auto;
  margin-top: 30px;
}

#grid2{
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  margin-top: 20px;
}

#sect4{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-column-gap: 20px;
}

#mytext{
  text-align: center;
  font-size: 20px;
  margin: 0 auto;
}

.myimages{
  margin-top: 20px;
  width: 60%;
  margin: 0 auto;
}

.moviep{
  text-align: center;
  margin: 0 auto;
}

.headers{
  text-align: center;
  margin: 0 auto;
  margin-bottom: 20px;
  margin-top: 20px;
}
